{% extends 'base.html' %}
{% load static %}

{% block title %}
<meta charset="utf-8" />
<title>Public Mapping サンプル</title>
{% endblock %}

{% block content %}
<!-- 左側一覧表示 と 右側地図表示を格納したrowを定義-->
<div class="row">
  <!-- 左側一覧表示 -->
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <div class="col-sm-3 mb-5">
    <!-- 新規追加ボタン -->
    <div class="text-center row">
        <a href="{% url 'posts:post_add' %}" class="btn btn-success btn-lg btn-block">   新規追加（要ログイン）   </a>
    </div>
    <!-- {% url 'posts:post_add' %} project/urls.pyでインクルードしたpostsのうちapp/urls.pyのpost_addにリンクを貼る、という意味 -->
    <!-- 左側一覧表示 カラムのスクロールを定義-->
    <div class="row table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead></thead>
        <tbody>
          <!-- postモデルからデータを表に一つずつ格納する -->
            {% for post in posts %}
                <tr>
                    <td>
                      <p class="text-xs">
                        <span style="white-space: nowrap;">
                          <strong>{{ post.number }}:{{ post.title }}</strong>
                            <!-- <a href="{% url 'posts:post_edit' pk=post.pk %}" class="btn btn-primary btn-xxs"><img src="{% static 'css/images/Modify.png' %} " width="15" height="15"></a>
                            <a href="{% url 'posts:post_delete' pk=post.pk %}" class="btn btn-primary btn-xxs btn_del"><img src="{% static 'css/images/Erase.png' %} " width="15" height="15"></a> -->
                          </span>
                      </p>
                      <p class="text-xs">
                        {{ post.memo }}
                      </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
      // 削除確認ポップアップ
      $(function(){
          $(".btn_del").click(function(){
              if(confirm("削除しますか？")){
                  //yesの処理（何もせず進む）
              }else{
                  //cancelの処理
                  return false;
              }
          });
      })
  </script>

<!-- 右側地図表示 -->
  <div  class="col-sm-9">
    <!-- 地図のIDを設定 leaflet.jsからid名で参照されるためid名の変更注意 -->
    <div id="map">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <!-- app.jsを参照 app.jsではjsonファイルを受け取って表示させる"getJSON"を定義 -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </div>
  </div>
</div>
{% endblock content %}
