{% extends 'base.html' %}
{% load static %}

{% block title %}
<meta charset="utf-8" />
<title>ログインフォーム画面</title>
{% endblock title %}

{% block content %}
<div class="cover py-5 text-center">
   <img src="{% static 'css/images/1_Primary_logo_on_transparent_512.png' %} " class="img-fluid rounded mx-auto d-block">
      <h3 class="display-4 mb-4">
        現地調査をもっと手軽に、</br>
        より共有しやすく。
      </h3>
</div>
<div class="text-center">
   <p class="m-4">現地で得た情報をワンアクションで登録・共有しよう！</p>
   <p class="mb-4 text-body">ログイン情報を入力してください</p>
   <form method="post" class="text-body">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="btn btn-primary btn-lg">ログイン</button>
   </form>
</div>
{% endblock%}
